body {
  background: #ffffff;
  color: #111111;
}

* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

p {
  padding-top: 24px;
}

.base {
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-height: 280px;
  padding-bottom: 13px;
  overflow: hidden;
}

.menu {
  text-align: center;
  padding-top: 16px;
  font-size: 0.875em;
}

.menu a {
  color: #676767;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  padding: 0px 3px 0px 3px;
}

.menu a:hover {
  color: #454545;
}

.subscribe {
  text-align: center;
  margin-top: 10px;
  font-size: 0.875em;
}

.subscribe a {
  color: #898989;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

.subscribe a:hover {
  color: #676767;
}

.dot {
  color: #898989;
}

.subscribe span {
  color: #898989;
  font-size: 0.75em;
}

.day-night {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #222222;
  margin: 10px auto;
  cursor: pointer;
}

h1 a, .pagination a {
  text-decoration: none;
  color: #111111;
}

.continue {
  color: #111111;
}

.date {
  font-size: 0.8721em;
  color: #656565;
  margin-top: -12px;
}

.content {
  width: 100%;
  background: transparent;
  font-size: 1.1875em;
  line-height: 152%;
  padding: 15px 30px 30px 30px;
  font-family: 'PT Serif', serif;
  word-wrap: break-word;
}

.pagination {
  padding-top: 25px;
  font-size: 1.2em;
  text-align: center;
}

.pagination a {
  padding: 0px 15px 0px 15px;
}

pre {
  overflow: auto;
  margin-top: 24px;
  padding-left: 4px;
  font-size: 0.6em;
  background: white;
  border: 1px solid #ededed;
  border-radius: 3px;
}

pre::-webkit-scrollbar {
  height: 2px;
}

code {
  background: transparent;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  tab-size: 2;
}

code::-webkit-scrollbar {
    height: 2px;
}

@media only screen and (min-width: 700px) {
  .base {
    width: 700px;
  }
  .menu {
    font-size: 1.19em;
  }
  .menu a {
    margin: 0px 5px 0px 5px;
    padding: 0px 3px 0px 3px;
  }
  pre {
    font-size: 0.734em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 700px) {

}
