body {
  background: #191919;
  color: #eeeeee;
}

/* Track */
.night::-webkit-scrollbar-track {
    background: #242424; 
}

/* Handle */
.night::-webkit-scrollbar-thumb {
    background: #f5f5f5;
}

/* Handle on hover */
.night::-webkit-scrollbar-thumb:hover {
    background: #dedede; 
}

.day{
  background: #ffffff;
}

.day-night {
  background: #ffffff;
}

a,
.menu a,
.subscribe a,
.dot,
h1 a,
.continue,
.pagination a,
.post-link a {
  color: #eeeeee;
}

.menu a:hover, .subscribe a:hover {
  color: #fefefe;
}

.date {
  color: #cccccc;
}

pre {
  border: 1px solid #333333;
  background: #252525;
}

table, th, td {
  border: 1px solid #dedede;
}

.quote-text, .refs {
  color: #cccccc;
}

.quote-author {
  color: #eeeeee;
}
