body {
  background: #ffffff;
  color: #111111;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4em;
}

a {
  color: #111111;
}

.content {
  width: 100%;
  max-width: 850px;
  height: auto;
  clear: both;
  margin: 0 auto;
  padding: 2em;
  overflow: hidden;
  font-size: 1.14em;
}

.intro {
  width: 100%;
}

.self-into {
  width: 100%;
}

.photo {
  width: 140px;
  height: 140px;
  border-radius: 16px;
  display: block;
  margin: 0 auto;
}

.name {
  font-size: 1.8em;
}

.basic-info {
  margin: 1em 1em;
  font-size: 0.8em;
}

.main {
  width: 100%;
  padding-top: 1em;
  clear: both;
}

.title {
  font-size: 1em;
  font-weight: bold;
}

.info-box {
  margin-top: 0.4em;
}

.list {
  padding: 0em 0em 0em 1em;
}

.cert-badge {
  width: 100px;
  margin-top: 0.5em;
}

.smaller {
  font-size: 0.9em;
}

.left-to-link {
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

@media only screen and (min-width: 850px), print {
  .intro {
    float: left;
  }
  .photo {
    float: left;
  }
  .name {
    margin-left: 0.0em;
    text-align: left;
  }
  .basic-info {
    float: left;
    margin: 0em 0em 0em 1.5em; 
    text-align: left;
  }
}
