<div class="base">
  <div class="menu">
    <a href="/../stuff/about?v={version}">About</a>
    <a href="/../stuff/projects?v={version}">Projects</a>
    <a href="/../previews/1?v={version}">Posts</a>
    <a href="/../stuff/slides?v={version}">Slides</a>
    <a href="/../stuff/papers?v={version}">Papers</a>
    <a href="/../stuff/talks?v={version}">Talks</a>
    <a href="/../stuff/podcasts?v={version}" style="display: none;">Podcasts</a>
    <a href="/../stuff/covers?v={version}">♫ Covers</a>
  </div>
  <div class="day-night" id="day-night"></div>
  <div class="content">
    {content}
  </div>
  <script>
    hljs.initHighlightingOnLoad()
    initYoutubeVideos(1.777)
    makeIframesResizable('youtube-video', 1.777)
    makeIframesResizable('soundcloud', 2.185)
  </script>
</div>
