<div class="base">
	<div class="menu">
		<a href="/../posts/about">About</a>
		<a href="/../stuff/projects">Projects</a>
		<a href="/../previews/1">Posts</a>
		<a href="/../stuff/slides">Slides</a>
		<a href="/../stuff/papers">Papers</a>
		<a href="/../stuff/videos">Videos</a>
		<a href="/../stuff/podcasts">Podcasts</a>
	</div>
	<div class="day-night" id="day-night"></div>
	<div class="content">
		{content}
	</div>
	<script>
		hljs.initHighlightingOnLoad()
		initYoutubeVideos()
	</script>
</div>
